.card {
    border: 1px solid var(--main-color);
    border-radius: 8px;
    padding: 8px;
    display: grid;
    gap: 10px;
}
.card_img {
    height: 100px;
    background: no-repeat center / contain;
}
.card_price {
    font-weight: 800;

}
.card_text {
    font-size: 12px;
}
.btnCart {
    width: max-content;
    border: none;
    border-radius: 30px;
    padding: 12px 8px;
    font-weight: 700;
    background-color: var(--main-color);
    height: max-content;
    align-self: flex-end;
}
.card__like {
    display: block;
    justify-content: end;
}
.card__discount {
    background-color: red;
    color: #fff;
    border-radius: 20px;
    /* width: 20px; */
    font-weight: 700;
}
.header__card {
    display: flex;
    justify-content: space-between;
}