:root {
    --main-color: #ffe44d;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
* {
    margin: 0;
	padding: 0;
}
body {
	font-family: "Nunito", "Arial", "Helvetica", sans-serif;
    height: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}
.wrapper {
	flex-grow: 1; 
}
.main__contant {
    max-width: 1024px;
    padding-left: 16px;
    padding-right: 16px;
    width: 95%;
    margin: 0 auto;
}
.cards-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px,1fr));
    gap: 16px;
    max-width: 1024px;
    padding-left: 16px;
    padding-right: 16px;
    width: 95%;
    margin: 20px auto;
    flex: 1 0 auto;
}
.main__container {
    background-color: var(--main-color);
    padding: 20px;
}
.main {
    font-weight: 900;
}
.btn {
    font-size: 16px;
    font-weight: 700;
    border-radius: 45px;
    margin: 20px;
}
.rotate {
    width: 250px;
    rotate: 20deg;
    -webkit-transition: width 1.5s, height 1.5s, -webkit-transform 1.5s;
    transition: width 1.5s, height 1.5s, transform 1.5s;
}
.rotate:hover {
    width: 300px;
}

.footer {
    flex: 0 0 auto;
}
@media (max-width: 1020px) {
    .cards-container {
        width: 900px;
        margin: auto;
        padding: 30px 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
        gap: 20px;
    }
}
@media (max-width: 720px) {
    .cards-container {
        width: 600px;
        padding: 30px 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
        gap: 20px;
    }
}
@media (max-width: 420px) {
    .cards-container {
        width: 300px;
        margin: auto;
        padding: 30px 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
        gap: 20px;
    }
}